In [1]:
import numpy as np 
import pandas as pd 
from sklearn.metrics import make_scorer
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import KFold, GridSearchCV, cross_validate
from sklearn.model_selection import train_test_split


from aequitas.group import Group
from aequitas.bias import Bias
from aequitas.fairness import Fairness
from aequitas.plotting import Plot

%matplotlib inline

## Incorporating fairness into cross validation

Read in data

In [16]:
### load data
data = pd.read_csv("../data/broward_data.csv")

X = data.loc[:,:'five_year']
Y = data['recid_two_year']

In [21]:
### Implementing fairness as scoring method 


def compute_fairness(df: pd.DataFrame, 
                     decoders: dict, 
                     sensitive_attrs: list,
                     ref_groups_dict: dict) -> pd.DataFrame:
    """
    decoders: dictionary of dictionary of decoders 
    """
    df = df.rename({"person_id": "entity_id"}, axis="columns")
    # decode numeric encodings for cat var
    for decoder_name, decoder_dict in decoders.items():
        df = df.replace({decoder_name: decoder_dict})
    
    g = Group()
    xtab, _ = g.get_crosstabs(df, attr_cols=sensitive_attrs)
    # compute bias 
    b = Bias()
    bdf = b.get_disparity_predefined_groups(xtab, 
                                            original_df=df, 
                                            ref_groups_dict=ref_groups_dict, 
                                            alpha=0.05, 
#                                           check_significance=True, 
#                                           mask_significance=True
                                            )
    f = Fairness()
    fdf = f.get_group_value_fairness(bdf)

    # list results of fairness analysis
    parity_determinations = f.list_parities(fdf)
    
    absolute_metrics = g.list_absolute_metrics(xtab)
    return fdf[['attribute_name', 'attribute_value'] + absolute_metrics + b.list_disparities(fdf) + parity_determinations].style

In [22]:
# prepare data 
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=.3, shuffle = True, random_state = 5829)

clf = LogisticRegression(class_weight = 'balanced', solver='liblinear', random_state=0)
clf.fit(X_train.drop(['person_id', 'screening_date'], axis=1),
        Y_train)
preds = clf.predict(X_test.drop(['person_id', 'screening_date'], axis=1))
X_test.loc[:,"score"] = preds
X_test.loc[:,"label_value"] = Y_test

df = X_test[["person_id", "screening_date", "sex", "score", "label_value"]]
df = df.rename({"person_id": "entity_id"}, axis="columns")


decoders = {"sex": {0: "male",
                   1: "female"}
           }

sensitive_attrs = ['sex']

ref_groups_dict = {'sex':'male'}
res = compute_fairness(df, 
                       decoders=decoders, 
                       sensitive_attrs=sensitive_attrs,
                       ref_groups_dict=ref_groups_dict)

res

C:\Users\Caroline Wang\Anaconda3\lib\site-packages\pandas\core\indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\Caroline Wang\Anaconda3\lib\site-packages\pandas\core\indexing.py:480: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

model_id, score_thresholds 1 {'rank_abs': [307]}
get_disparity_predefined_group()

### Create Custom Scorer

https://scikit-learn.org/stable/modules/model_evaluation.html#scoring

In [7]:
def my_custom_loss_func(y_true, y_pred):
    diff = np.abs(y_true - y_pred).max()
    return np.log1p(diff)

 # score will negate the return value of my_custom_loss_func,
 # which will be np.log(2), 0.693, given the values for X
 # and y defined below.
score = make_scorer(my_custom_loss_func, greater_is_better=False)
X = [[1], [1]]
y = [0, 1]
from sklearn.dummy import DummyClassifier
clf = DummyClassifier(strategy='most_frequent', random_state=0)
clf = clf.fit(X, y)
print(my_custom_loss_func(y, clf.predict(X)) )

print(score(clf, X, y))

0.6931471805599453
-0.6931471805599453

### Adapt current logistic prediction method

#### Original

In [17]:
def Logistic(x, y, C,seed):
    from sklearn.linear_model import LogisticRegression
    from sklearn.model_selection import KFold, GridSearchCV, cross_validate
    
    ## cross validation set up
    inner_cv = KFold(n_splits=5,shuffle=True,random_state=seed)
    outer_cv = KFold(n_splits=5,shuffle=True,random_state=seed)
    
    ### model & parameters
    lr = LogisticRegression(class_weight = 'balanced', solver='liblinear', random_state=seed)
    c_grid = {"C": C}
    
    ### nested cross validation
    clf = GridSearchCV(estimator=lr, param_grid=c_grid, scoring='roc_auc',cv=inner_cv, return_train_score=True)
    nested_score = cross_validate(clf, X=x, y=y, scoring='roc_auc', cv=outer_cv, return_train_score=True)
    train_score, test_score = nested_score['train_score'], nested_score['test_score']
    
    return train_score, test_score

In [18]:
c = [1e-5, 1e-4, 1e-3]

logistic_train, logistic_test = Logistic(X.drop(['person_id', 'screening_date'], axis=1),
                                         Y,
                                         c,
                                         816)
res = [np.mean(logistic_train) - np.mean(logistic_test), np.mean(logistic_test)]
res

[0.011141768594555845, 0.6651818167782302]

#### New

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import KFold, GridSearchCV, cross_validate

def Logistic(X, y, C,seed):
    """
    X: pandas dataframe including ID columns
    Y:
    """
    X_no_id = X.drop(["person_id", "screening_date"], axis=1)
    # cross validation set up
    inner_cv = KFold(n_splits=5,shuffle=True,random_state=seed)
    outer_cv = KFold(n_splits=5,shuffle=True,random_state=seed)
    
    # model & parameters
    lr = LogisticRegression(class_weight = 'balanced', solver='liblinear', random_state=seed)
    c_grid = {"C": C}
    
    # nested cross validation
    clf = GridSearchCV(estimator=lr, param_grid=c_grid, scoring='roc_auc',cv=inner_cv, return_train_score=True)
    nested_score = cross_validate(clf, X=X_no_id, y=y, scoring='roc_auc', cv=outer_cv, return_train_score=True)
    train_score, test_score = nested_score['train_score'], nested_score['test_score']
    
    
    # prepare for fairness analysis
#     preds = clf.predict(X_test.drop(['person_id', 'screening_date'], axis=1))
#     X_test.loc[:,"score"] = preds
#     X_test.loc[:,"label_value"] = Y_test
#     df = X_test[["person_id", "screening_date", "sex", "score", "label_value"]]
#     df["entity_id"] = " ".join(df["person_id"], df["entity_id"])
#     df.drop(["person_id", "screening_date"])
    return train_score, test_score

In [23]:
X

,person_id,screening_date,sex,p_current_age,p_age_first_offense,p_charge,p_jail30,p_prison,p_probation,p_juv_fel_count,...,p_stalking,p_voyeurism,p_fraud,p_stealing,p_trespass,years_since_last_crime,six_month,one_year,three_year,five_year
0,1001,2014-02-03,0,45,19,39,0,2,3,0,...,0,0,0,2,0,4.140828,0,0,0,1
1,101,2013-01-13,0,42,26,9,1,3,0,0,...,0,0,0,1,2,8.597023,0,0,0,0
2,101,2014-02-02,0,43,26,15,2,3,0,0,...,0,0,0,3,3,0.065708,1,1,1,1
3,1015,2014-01-22,0,35,19,47,0,1,3,0,...,0,0,0,6,0,7.415469,0,0,0,0
4,1016,2013-04-15,0,27,18,11,0,3,2,0,...,0,0,0,4,1,4.685832,0,0,0,1
5,1016,2013-05-11,0,27,18,12,0,3,2,0,...,0,0,0,4,1,0.073922,1,1,1,1
6,102,2013-05-25,0,19,18,4,0,0,0,0,...,0,0,0,1,2,0.804757,0,1,1,1
7,1027,2013-04-04,0,19,18,5,0,0,0,0,...,0,0,0,0,0,0.758214,0,1,1,1
8,1032,2013-09-23,0,26,19,15,0,1,3,0,...,0,0,0,0,0,0.685832,0,1,1,1
9,1034,2013-01-14,0,19,19,7,0,0,0,0,...,0,0,0,0,0,0.124401,1,1,1,1
10,1036,2013-04-27,0,24,20,4,0,0,0,0,...,0,0,0,1,0,0.896304,0,1,1,1
11,1044,2013-09-25,0,34,17,6,0,0,1,0,...,0,0,0,1,1,6.258214,0,0,0,0
12,1048,2013-10-09,0,42,20,34,0,0,1,0,...,0,0,0,2,0,0.435832,1,1,1,1
13,1049,2013-05-03,0,50,43,5,0,0,0,0,...,0,0,0,1,0,5.441307,0,0,0,0
14,1051,2013-03-18,0,30,20,6,0,0,0,0,...,0,0,0,0,0,0.379877,1,1,1,1
15,1059,2013-09-21,0,21,20,2,0,0,0,0,...,0,0,0,1,0,1.760951,0,0,1,1
16,1060,2013-12-19,0,42,42,4,0,0,0,0,...,0,0,0,0,0,0.252738,1,1,1,1
17,1062,2013-03-24,0,34,20,15,0,0,1,0,...,0,0,0,5,4,0.010951,1,1,1,1
18,1065,2013-08-22,0,25,16,14,0,0,0,0,...,0,0,0,0,0,0.841547,0,1,1,1
19,1066,2013-02-12,0,37,35,3,0,0,1,0,...,0,0,0,0,0,1.763689,0,0,1,1
20,107,2013-01-07,0,26,22,10,0,0,0,0,...,0,0,0,0,0,0.760951,0,1,1,1
21,107,2013-09-18,0,26,22,12,0,0,0,0,...,0,0,0,0,0,0.696783,0,1,1,1
22,1074,2014-03-15,0,19,19,2,0,0,0,0,...,0,0,0,1,0,0.610712,0,1,1,1
23,1075,2013-12-29,0,39,34,5,0,0,0,0,...,0,0,0,0,0,0.005476,1,1,1,1
24,1076,2013-02-12,1,43,43,7,0,1,0,0,...,0,0,0,3,0,0.226899,1,1,1,1
25,1079,2013-07-09,0,34,25,5,0,0,0,0,...,0,0,0,0,0,0.079398,1,1,1,1
26,1082,2013-09-29,0,47,26,39,1,3,1,0,...,0,0,0,0,0,0.618925,0,1,1,1
27,1086,2014-02-28,0,20,19,4,0,0,0,0,...,0,0,0,0,0,0.099760,1,1,1,1
28,1091,2013-02-12,0,20,18,8,0,0,0,0,...,0,0,0,0,0,2.027379,0,0,1,1
29,1092,2013-08-08,0,21,19,2,0,0,0,0,...,0,0,0,2,1,2.083333,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1924,906,2013-09-22,1,22,17,6,0,0,0,0,...,0,0,0,1,1,4.586071,0,0,0,1
1925,91,2013-02-04,0,35,21,12,0,0,0,0,...,0,0,0,0,0,0.229637,1,1,1,1
1926,913,2013-07-12,0,28,24,3,0,0,0,0,...,0,0,0,0,0,0.121663,1,1,1,1
1927,918,2013-04-16,1,35,22,5,0,0,0,0,...,0,0,0,2,0,12.833333,0,0,0,0
1928,92,2013-03-21,0,43,16,18,0,7,2,6,...,0,0,0,13,5,15.519165,0,0,0,0
1929,921,2013-03-04,0,27,25,5,0,1,0,0,...,0,0,0,0,0,1.941307,0,0,1,1
1930,923,2013-11-06,0,41,36,2,0,0,0,0,...,0,0,0,0,0,4.318446,0,0,0,1
1931,925,2013-04-18,0,34,30,3,0,0,0,0,...,0,0,0,2,0,0.915469,0,1,1,1
1932,93,2013-11-16,0,20,18,6,0,0,0,0,...,0,0,0,0,0,0.005476,1,1,1,1
1933,934,2013-04-09,0,22,18,5,0,0,1,0,...,0,0,0,1,0,1.221424,0,0,1,1
1934,937,2013-12-25,0,27,23,14,0,0,0,0,...,0,0,0,2,0,1.221424,0,0,1,1
1935,944,2014-01-03,0,26,18,14,0,0,3,0,...,0,0,0,0,0,0.024641,1,1,1,1
1936,947,2013-02-24,1,20,18,6,0,0,2,0,...,0,0,0,1,0,0.780116,0,1,1,1
1937,950,2013-05-24,0,20,18,10,0,0,0,0,...,0,0,0,4,2,0.277379,1,1,1,1
1938,955,2013-04-08,0,58,35,31,0,1,10,0,...,0,0,0,5,2,3.879877,0,0,0,1
1939,96,2013-01-26,0,26,19,9,0,0,0,0,...,0,0,0,0,0,0.788330,0,1,1,1
1940,96,2013-08-25,0,27,19,13,0,0,1,0,...,1,0,1,0,0,0.002738,1,1,1,1
1941,960,2013-03-22,0,23,20,6,0,0,0,0,...,0,0,0,1,1,0.677618,0,1,1,1
1942,962,2013-08-24,0,25,20,14,0,0,4,0,...,0,0,0,4,1,0.232375,1,1,1,1
1943,963,2013-12-25,0,23,22,3,0,0,0,0,...,0,0,0,0,0,0.360712,1,1,1,1
1944,964,2013-04-25,0,20,17,4,0,0,0,0,...,0,0,0,0,0,0.877139,0,1,1,1
1945,964,2013-08-20,0,20,17,5,0,0,0,0,...,0,0,0,0,0,0.321184,1,1,1,1
1946,967,2013-04-09,0,24,14,26,0,0,2,0,...,0,0,0,10,0,0.815708,0,1,1,1
1947,970,2014-03-18,0,36,21,16,0,2,6,0,...,0,0,0,3,1,5.519165,0,0,0,0
1948,983,2014-02-19,0,20,20,5,0,0,0,0,...,0,0,0,0,0,0.304757,1,1,1,1
1949,987,2014-02-22,0,28,18,15,0,0,1,0,...,0,0,0,1,0,3.204997,0,0,0,1
1950,988,2013-04-14,1,28,20,16,0,0,0,0,...,0,0,0,0,0,0.326660,1,1,1,1
1951,990,2014-01-09,1,43,40,6,0,1,0,0,...,0,0,0,0,0,2.457734,0,0,1,1
1952,993,2013-07-19,0,36,34,7,0,0,0,0,...,0,0,0,3,0,2.280116,0,0,1,1
1953,996,2014-02-03,0,20,19,2,0,0,0,0,...,0,0,0,2,1,0.357974,1,1,1,1