In [4]:
import pandas as pd
import numpy as np
import csv

### Prepare Combiend Code

In [5]:
### KY data
KY_data = pd.read_csv("~/Documents/Duke/Cynthia Research/KY-analysis-mytrials/KY Recidivism/KY data/kentucky_data.csv")
KY_data = KY_data.drop(['ADE', 'Treatment','p_assault','p_pending_charge','fta_risk_score_raw',
                        'nca_risk_score_raw', 'pvf_risk_score_raw', 'fta_calc', 'nca_calc', 'pvf_calc',
                        'recid_traffic_two_year', 'recid_traffic_six_month'], axis=1)
KY_data.insert(0, 'index', 'KY')
#KY_X = KY_data.loc[:,:'current_violence'].values
#KY_Y = KY_data['recid_two_year'].values

In [6]:
### FL data
FL_data = pd.read_csv("~/Documents/Duke/Cynthia Research/KY-analysis-mytrials/broward/data/broward_data.csv")
FL_data = FL_data.drop(['p_age_first_offense', 'p_famviol_arrest', 'p_juv_fel_count', 'p_domestic',
                        'current_violent20', 'pending_charge', 'total_convictions', 'years_since_last_crime'], axis=1)
FL_data.insert(0, 'index', 'FL')

FL_data.columns = ['index', 'person_id', 'screening_date', 'sex', 'race','age_at_current_charge', 'p_charges', 'p_jail30', 'p_prison', 
                   'p_probation', 'p_felprop_viol','p_murder', 
                   'p_felassult', 'p_misdeassult', 'p_sex_offense', 
                   'p_weapon', 'p_fta_two_year', 'p_fta_two_year_plus', 
                   'current_violence', 'p_felony', 'p_misdemeanor', 
                   'p_violence', 'p_arrest', 'p_property', 'p_traffic', 'p_drug', 
                   'p_dui', 'p_stalking', 'p_voyeurism', 'p_fraud', 'p_stealing', 
                   'p_trespass', 'six_month', 'one_year', 'three_year', 'five_year', 
                   'recid_two_year', 'recid_six_month', 'recid_drug_two_year', 'recid_property_two_year',
                   'recid_M_two_year', 'recid_F_two_year', 'recid_violence_two_year', 'recid_drug_six_month',
                   'recid_property_six_month', 'recid_M_six_month', 'recid_F_six_month', 'recid_violence_six_month']

reorder = ['index', 'person_id', 'sex','race', 'screening_date',  
           'age_at_current_charge', 'p_arrest', 'p_charges',
           'p_violence', 'p_felony', 'p_misdemeanor', 'p_property', 'p_murder',
           'p_sex_offense', 'p_weapon', 'p_felprop_viol', 'p_felassult',
           'p_misdeassult', 'p_traffic', 'p_drug', 'p_dui', 'p_stalking',
           'p_voyeurism', 'p_fraud', 'p_stealing', 'p_trespass', 'p_prison',
           'p_jail30', 'p_fta_two_year', 'p_fta_two_year_plus', 'p_probation',
           'six_month', 'one_year', 'three_year', 'five_year', 'current_violence',
           'recid_two_year', 'recid_drug_two_year', 'recid_violence_two_year',
           'recid_F_two_year', 'recid_M_two_year', 'recid_property_two_year',
           'recid_six_month', 'recid_drug_six_month', 'recid_violence_six_month',
           'recid_F_six_month', 'recid_M_six_month', 'recid_property_six_month']

FL_data = FL_data.reindex(columns=reorder)
#FL_X = FL_data.loc[:,:'current_violence'].values
#FL_Y = FL_data['recid_two_year'].values

In [7]:
FL_data_extended = pd.DataFrame(np.array([]))
for i in range(FL_data.shape[0]):
    value = pd.DataFrame(np.repeat(FL_data.iloc[i,:].values.reshape(1,-1), 75, axis=0))
    FL_data_extended = pd.concat([value, FL_data_extended])
FL_data_extended.columns = reorder

In [8]:
FL_data_extended.head()

,index,person_id,sex,race,screening_date,age_at_current_charge,p_arrest,p_charges,p_violence,p_felony,...,recid_violence_two_year,recid_F_two_year,recid_M_two_year,recid_property_two_year,recid_six_month,recid_drug_six_month,recid_violence_six_month,recid_F_six_month,recid_M_six_month,recid_property_six_month
0,FL,996,1,African-American,2014-02-03,20,1,2,1,1,...,0,1,0,0,0,0,0,0,0,0
1,FL,996,1,African-American,2014-02-03,20,1,2,1,1,...,0,1,0,0,0,0,0,0,0,0
2,FL,996,1,African-American,2014-02-03,20,1,2,1,1,...,0,1,0,0,0,0,0,0,0,0
3,FL,996,1,African-American,2014-02-03,20,1,2,1,1,...,0,1,0,0,0,0,0,0,0,0
4,FL,996,1,African-American,2014-02-03,20,1,2,1,1,...,0,1,0,0,0,0,0,0,0,0

#### Combine Two Data Sets

In [9]:
KY_data.shape, FL_data_extended.shape

((96010, 48), (146550, 48))

In [10]:
total = pd.concat([KY_data, FL_data_extended], sort=False)

## change column types
cols = ['sex'] + total.columns[5:].tolist()
for i in cols:
    total[i] = total[i].astype('int64')

In [11]:
total = total.sample(frac=1)

In [12]:
total.to_csv("combined data", index=False)
#KY_data.to_csv("kentucky_processed.csv", index=False)
#FL_data.to_csv("broward_processed.csv", index=False)